.container.IA
  .row
    .col-lg-3
      = link_to t('+_add_category'),
              new_admin_category_path(get_category_curr_params),
              remote: true,
              class: "btn btn-IA"

      div.list-group.list-with-actions
        - @categories.each do |category|
          div.list-group-item.list-group-item-action.btn class=(@category == category.id.to_s ? 'selected' : '')
            = link_to admin_information_architecture_path(category: category)
              - if category.is_hidden
                div.hidden-block = t('hidden')
              b = category.name
              = link_to "#",
                      class: 'dropdown-toggle list-menu-action',
                      role: 'button',
                      aria: { haspopup: true, expanded: false },
                      data: { toggle: 'dropdown' } do
                i class='bi bi-three-dots fa-lg'
              ul.dropdown-menu
                li
                  = link_to (category.is_hidden ? t('show') : t('hide')),
                          admin_category_path(category, admin_category: { is_hidden: category.is_hidden ? false : true }, params: get_category_curr_params),
                          remote: true,
                          class: "btn",
                          method: :patch
                li
                  = link_to t('edit'),
                          edit_admin_category_path(category, get_category_curr_params),
                          remote: true,
                          class: "btn"
                li
                  = link_to t('delete'),
                          admin_category_path(category, get_category_curr_params),
                          remote: true,
                          class: "btn",
                          data: { confirm: 'Are you sure?' },
                          method: :delete

    - if @category.present?
      .col-lg-3
        = link_to t('+_add_sub_category'),
                new_admin_sub_category_path(get_category_curr_params),
                remote: true,
                class: "btn btn-IA cont"
        div.list-group.list-with-actions
          - @sub_categories.each do |sub_category|
            div.list-group-item.list-group-item-action.btn class=(@sub_category == sub_category.id.to_s ? 'selected' : '')
              = link_to current_page_params.merge(sub_category: sub_category)
                - if sub_category.is_hidden
                  div.hidden-block = t('hidden')
                b = sub_category.name
                = link_to "#",
                        class: 'dropdown-toggle list-menu-action',
                        role: 'button',
                        aria: { haspopup: true, expanded: false },
                        data: { toggle: 'dropdown' } do
                  i class='bi bi-three-dots fa-lg'
                ul.dropdown-menu
                  li
                    = link_to t('move_to'),
                            '#',
                            class: "dropdown-item submenu dropdown-toggle list-menu-action dropend move-menu",
                            role: 'button',
                            aria: { haspopup: true, expanded: false },
                            data: { toggle: 'dropdown' }
                    ul.dropdown-menu.move-menu
                      - @categories.each do |category|
                        li
                          = link_to category.name,
                                  admin_sub_category_path(sub_category, admin_sub_category: { category_id: category}, params: get_category_curr_params),
                                  remote: true,
                                  class: "btn",
                                  method: :patch
                  li
                    = link_to (sub_category.is_hidden ? t('show') : t('hide')),
                            admin_sub_category_path(sub_category, admin_sub_category: { is_hidden: sub_category.is_hidden ? false : true }, params: get_category_curr_params),
                            remote: true,
                            class: "btn",
                            method: :patch
                  li
                    = link_to t('edit'),
                            edit_admin_sub_category_path(sub_category, get_category_curr_params),
                            remote: true,
                            class: "btn"
                  li
                    = link_to t('delete'),
                            admin_sub_category_path(sub_category, get_category_curr_params),
                            remote: true,
                            class: "btn",
                            data: { confirm: 'Are you sure?' },
                            method: :delete

    - if @sub_category.present?
      .col-lg-3
        = link_to t('+_add_team'),
                new_admin_team_path(get_category_curr_params),
                remote: true,
                class: "btn btn-IA cont"
        div.list-group.list-with-actions
          - @teams.each do |team|
            div.list-group-item.list-group-item-action.btn
              = link_to '#'
                - if team.is_hidden
                  div.hidden-block = t('hidden')
                b = team.name
                = link_to "#",
                        class: 'dropdown-toggle list-menu-action',
                        role: 'button',
                        aria: { haspopup: true, expanded: false },
                        data: { toggle: 'dropdown' } do
                  i class='bi bi-three-dots fa-lg'
                ul.dropdown-menu
                  li
                    = link_to t('move_to'),
                            '#',
                            class: "dropdown-item submenu dropdown-toggle list-menu-action dropend move-menu",
                            role: 'button',
                            aria: { haspopup: true, expanded: false },
                            data: { toggle: 'dropdown' }
                    ul.dropdown-menu.move-menu
                      - @categories.each do |category|
                        li
                          = link_to category.name,
                                  '#',
                                  class: "dropdown-item submenu dropdown-toggle list-menu-action dropend move-menu",
                                  role: 'button',
                                  aria: { haspopup: true, expanded: false },
                                  data: { toggle: 'dropdown' }
                          ul.dropdown-menu.move-menu
                            - category.sub_categories.each do |sub_category|
                              li
                                = link_to sub_category.name,
                                        admin_team_path(team, admin_team: { sub_category_id: sub_category }, params: get_category_curr_params),
                                        remote: true,
                                        class: "btn",
                                        method: :patch
                  li
                    = link_to (team.is_hidden ? t('show') : t('hide')),
                            admin_team_path(team, admin_team: { is_hidden: team.is_hidden ? false : true }, params: get_category_curr_params),
                            remote: true,
                            class: "btn",
                            method: :patch
                  li
                    = link_to t('edit'),
                            edit_admin_team_path(team, get_category_curr_params),
                            remote: true,
                            class: "btn"
                  li
                    = link_to t('delete'),
                            admin_team_path(team, get_category_curr_params),
                            remote: true,
                            class: "btn",
                            data: { confirm: 'Are you sure?' },
                            method: :delete
