p Hello = @resource.email

- if @resource.is_admin
  p = t("we_are_contacting_you_to_notify_you_that_you_gott_admin_permissions")
- else
  p = t("we_are_contacting_you_to_notify_you_that_you_lost_admin_permissions")