p Hello = @resource.email

- if @resource.active
  p = t("we_are_contacting_you_to_notify_you_that_your_account_is_active")
- else
  p = t("we_are_contacting_you_to_notify_you_that_your_account_is_blocked")
