h2 Log in

= simple_form_for(resource, as: resource_name, url: user_session_path) do |f|
  div class="form-inputs"
    = f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" }
    = f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" }
    = f.input :remember_me, as: :boolean if devise_mapping.rememberable?

  div class="form-actions"
    = f.button :submit, "Log in"

= render "users/shared/links"
