.form-article
  = simple_form_for(article, url: self.send(path, {category: params[:category]}), html: { class: 'save-form' }, data: { remote: false }) do |f|
    = f.error_notification
    = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
    .body
      .form-inputs
        = f.input :picture,
                as: :file,
                required: true
        .row
          .col-md-4
            = f.input :sub_category_id,
                    required: false,
                    collection: sub_categories,
                    label: t('conference'),
                    class: 'form-control',
                    prompt: "conference"
          .col-md-4
            = f.input :team_id,
                    required: false,
                    collection: teams,
                    class: 'form-control',
                    prompt: "team"
          .col-md-4
            .form-group.select.optional
              = f.label :location
              = f.country_select :location,
                      {},
                      { class: 'form-control select optional', required: false }
        = f.input :alt,
                required: true,
                input_html: { autocomplete: t('alt') }
        = f.input :headline,
                required: true,
                input_html: { autocomplete: t('alt') }
        = f.input :caption,
                required: true,
                input_html: { autocomplete: t('headline') }
        = f.label :content, required: true
        = f.rich_text_area :content, required: true
        = f.input :comments, as: :boolean
        = f.hidden_field :category_id,
                value: params[:category]