div class="form-group"
  - if controller_name != 'sessions'
    = link_to t(".sign_in"), new_user_session_path
    br

  - if devise_mapping.registerable? && controller_name != 'registrations'
    = link_to t(".sign_up"), new_user_registration_path
    br

  - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
    = link_to t(".forgot_your_password"), new_user_password_path(resource_name)
    br

  - if devise_mapping.confirmable? && controller_name != 'confirmations'
    = link_to t('.didn_t_receive_confirmation_instructions'), new_user_confirmation_path(resource_name)
    br

  - if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
    = link_to t('.didn_t_receive_unlock_instructions'), new_user_unlock_path(resource_name)
    br

  - if devise_mapping.omniauthable?
    - resource_class.omniauth_providers.each do |provider|
      = button_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", get_provider_url(provider)

