= simple_form_for(singular_table_name) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
- attributes.each do |attribute|
    = f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %>
- end

  .form-actions
    = f.button :submit
