jQuery("#modal-window").html('<%=
                                 j render "form",
                                 sub_category: @sub_category,
                                 curr_params: get_category_curr_params,
                                 path: 'admin_sub_category_path',
                                 button_name: 'edit'
                               %>');
jQuery("#modal-window").modal('show');
