#list-articles .article-image {
  float: left;
}

#list-articles .article-item {
  display: inline-block;
}

#list-articles .article-information {
  display: inline-block;
  margin-left: 15px;
  height: 100px;
}

#list-articles .article-status {
  float: right;
}

#list-articles .article-country {
  margin-top: 10px;
}

li.people-search {
  float: right;
  margin: 10px;
}