// Place all the styles related to the Admin/InformationArchitecture controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.IA .btn-IA {
  border: 1px dashed #b7b7b7;
  color: #b7b7b7;
}

.IA .btn-IA:hover {
  background-color: #f61700;
  color: white;
}

.IA .hidden-block {
  background-color: #ededed;
  border-radius: 25px;
  color: #8e8e8e;
  font-size: 10px;
  float: left;
  padding: 4px;
}

.dropdown-menu .dropdown-menu {
  top: auto;
  left: 100%;
  transform: translateY(-2rem);
}
.dropdown-item + .dropdown-menu {
  display: none;
}
.dropdown-item.submenu::after {
  content: '▸';
  margin-left: 0.5rem;
}
.dropdown-item:hover + .dropdown-menu,
.dropdown-menu:hover {
  display: block;
}