jQuery("#modal-window").html('<%=
                                  j render "form",
                                  category: @category,
                                  curr_params: get_category_curr_params,
                                  path: 'admin_category_path',
                                  button_name: 'edit'
                              %>');
jQuery("#modal-window").modal('show');
