jQuery("#modal-window").html('<%=
                                  j render "form",
                                  category: @category,
                                  curr_params: get_category_curr_params,
                                  path: 'admin_categories_path',
                                  button_name: 'add'
                               %>');
jQuery("#modal-window").modal('show');
