#list-articles
  .row
    .article-search
      = form_tag(current_page_params, method: :get) do
        = current_page_params(param_for: 'form', except: ['q'])
        input id="search" name="q" type="text" placeholder="search"
        i class="bi bi-search fa-lg" id="search_submit"
    div.dropdown.display-inline-block.people-filter
      = link_to '',
              class: 'btn dropdown-toggle',
              role: 'button',
              aria: { haspopup: true, expanded: false },
              data: { toggle: 'dropdown' } do
        = t('all_congerences')
        span class="caret"
      ul.dropdown-menu
        li
          = link_to t('all'),
                  admin_category_path(@category),
                  remote: true,
                  class: "btn",
                  method: :get
        - @sub_categories.each do |sub_category|
          li
            = link_to sub_category.name,
                    admin_category_path(@category, { sub_category: sub_category }),
                    remote: false,
                    class: "btn",
                    method: :get
    div.dropdown.display-inline-block.people-filter
      = link_to '',
              class: 'btn dropdown-toggle',
              role: 'button',
              aria: { haspopup: true, expanded: false },
              data: { toggle: 'dropdown' } do
        = t('all_teams')
        span class="caret"
      ul.dropdown-menu
        li
          = link_to t('all'),
                  admin_category_path(@category),
                  remote: true,
                  class: "btn",
                  method: :get
        - @teams.each do |team|
          li
            = link_to team.name,
                    admin_category_path(@category, { team: team }),
                    remote: true,
                    class: "btn",
                    method: :get
      div.dropdown.display-inline-block.people-filter
        = link_to '',
                class: 'btn dropdown-toggle',
                role: 'button',
                aria: { haspopup: true, expanded: false },
                data: { toggle: 'dropdown' } do
          = t('all')
          span class="caret"
        ul.dropdown-menu
          li
            = link_to t('all'),
                    admin_category_path(@category),
                    remote: true,
                    class: "btn",
                    method: :get
          - Admin::Article.statuses.each_key do |status|
            li
              = link_to status,
                      admin_category_path(@category, { status: status }),
                      remote: true,
                      class: "btn",
                      method: :get
  .row
    ul.list-cat-articles.list-group.list-with-actions
      - @articles.each do |article|
        li.list-group-item.article-item.col-lg-9
          .article-image
            = image_tag article.picture.variant(resize_to_limit: [100, 100]).processed
          .article-actions.dropdown.list-menu-action
            = link_to "#",
                    class: 'dropdown-toggle list-menu-action',
                    role: 'button',
                    aria: { haspopup: true, expanded: false },
                    data: { toggle: 'dropdown' } do
              i class='bi bi-three-dots fa-lg'
            ul.dropdown-menu
              li
              = link_to t('move_to'),
                      '#',
                      class: "dropdown-item submenu dropdown-toggle list-menu-action dropend move-menu",
                      role: 'button',
                      aria: { haspopup: true, expanded: false },
                      data: { toggle: 'dropdown' }
              ul.dropdown-menu.move-menu
                - @categories.each do |category|
                  - if category == @category
                    - next
                  li
                    = link_to category.name,
                            admin_article_path(article, admin_article: { category_id: category }, params: { category: @category }),
                            remote: true,
                            class: "btn",
                            method: :patch
              li
                = link_to get_reverse_article_status(article),
                        admin_article_path(article, admin_article: { status: get_reverse_article_status(article) }, params: { category: @category }),
                        remote: true,
                        class: "btn",
                        method: :patch
              - if article.unpublish?
                li
                  = link_to t('edit'),
                          edit_admin_article_path(article, params: { category: @category }),
                          remote: true,
                          class: "btn",
                          method: :get
              li
                = link_to t('delete'),
                        admin_article_path(article, { category: @category }),
                        remote: true,
                        class: "btn",
                        data: { confirm: 'Are you sure?' },
                        method: :delete
          .article-information.col-lg-10
            .headline
              b = article.headline
            .article-content
              == truncate(strip_tags(article.content.to_s), length: 500)
            / == article.content
            .article-country
              = article.sub_category.name
              | ' / '
              = article.team.name
          .article-status.sticky-bottom
            = article.status
  == pagy_nav(@pagy)