body {
  overflow-x: hidden;
  margin: 0px;
}

header .navbar-brand.header-brand {
  color: white;
  background-color: red;
}

header .border {
  border-color: #e7e7e7;
}

header .border-left {
  border-left: 1px solid #e7e7e7;
}

header .header-nav {
  margin-bottom: 0px;
}

header .top-lang {
  margin: 10px 0 10px 0;
}

.well.sidebar-nav {
  padding: 0px;
  background-color: #ffffff;
  border: 0px;
  border-radius: 0px;
  border-right: 1px solid #e7e7e7;
  color: #b2b2b2;
}

.well.sidebar-nav .nav > li {
  margin: 10px;
}

.well.sidebar-nav .nav > li > a {
  padding: 15px;
  color: #b2b2b2;
}

.left-menu-list {
  font-size: 35px;
}

.page-footer {
  min-height: 70px;
  background-color: red;
}

.page-footer .footer-row {
  display: inline;
}

.copyright {
  padding: 10px;
}

.top-menu .scrollmenu {
  border-bottom: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
  color: #b2b2b2;
  font-size: 25px;
  overflow: auto;
  white-space: nowrap;
}

.top-menu .scrollmenu a {
  display: inline-block;
  color: #b2b2b2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.top-menu .scrollmenu a:hover {
  background-color: #777;
}

.text-color-red {
  color: #dc3a47;
}

.col-red, .people-filter a.btn:hover {
  color: #dc3a47;
  background-color: #fdeaeb;
}

.col-red a, .col-red.btn{
  color: #dc3a47;
}

.text-color-green {
  color: #30a32d;
}

.col-green {
  background-color: #dfecdd;
}

.col-green a, .col-green.btn{
  color: #30a32d;
}

.text-color-blue {
  color: #2b73af;
}

.col-blue {
  color: #2b73af;
  background-color: #d4e7f1;
}

.col-blue a, .col-blue.btn {
  color: #2b73af;
}

.col-gray {
  background-color: #d4d9e2;
}

.display-inline-block {
  display: inline-block;
}

.dropdown-title {
  text-align: center;
}

.people-search input[type="text"] {
  height: 20px;
  display: inline-block;
  font-family: "Lato";
  font-weight: 100;
  border: none;
  outline: none;
  color: #555;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

.people-search input[type="text"]:focus:hover {
  border-bottom: 1px solid #BBB;
}

.people-search input[type="text"]:focus {
  width: 300px;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}

input[type="submit"]:hover {
  opacity: 0.8;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.modal-dialog {
  position: unset;
}

.btn-add {
  background-color: red;
  color: white;
}

a.btn-cancel {
  background-color: white;
  color: red;
}

.invalid-feedback {
  color: #ff0000;
}

.main-content {
  margin: 50px 0 0 20px;
}

.container .action-button {
  background-color: #f61700;
  float: right;
  max-width: 150px;
  margin-top: 15px;
}

.container .action-button a{
  color: white;
  font-size: 17px;
}

.container .action-button a:hover{
  background-color: #f61700;
}

.container .action-cancel-button {
  float: right;
  max-width: 150px;
  margin-top: 15px;
}

.container .action-cancel-button a{
  color: #f61700;
  font-size: 17px;
}

.container .action-cancel-button a:hover{
  background-color: unset;
}

.list-with-actions .list-group .list-group-item a {
  text-decoration: none;
  background-color: white;
  color: black;
}

.list-with-actions .list-group .list-group-item > a:first-child:hover,
.list-with-actions .list-group .list-group-item.selected > a:first-child {
  color: #d72130;
  font-weight: bold;
}

.list-with-actions .list-menu-action {
  float: right;
}

.list-with-actions.list-group .list-group-item a {
  text-decoration: none;
  background-color: white;
  color: black;
}