.people
  div.alert.alert-success#export-message style="display: none"
  = link_to "Export CSV", admin_export_users_path(type: :csv)
  = link_to "Export XLSX", admin_export_users_path(type: :xlsx)
  = link_to "Export PDF", admin_export_users_path(type: :pdf)
  .col-lg-6.list-of-users
    ul.nav.nav-tabs
      li.nav-item.users-tab class=(@tab == 'users' ? 'active' : '')
        = link_to "users (#{@simple_users.length})", '#users', data: { toggle: 'tab', target: '#users' }

      li.nav-item.admins-tab class=(@tab == 'admins' ? 'active' : '')
        = link_to "admins (#{@admin_users.length})", '#admins', data: { toggle: 'tab', target: '#admins' }, id: 'admins-tab2'
      li.people-search
        = form_tag(current_page_params, method: :get) do
          = current_page_params(param_for: 'form', except: ['q'])
          input id="search" name="q" type="text" placeholder="search"
          i class="bi bi-search fa-lg" id="search_submit"
    .tab-content
      .tab-pane.fade.in#users class=(@tab == 'users' ? 'active' : '')
        table.table.table-sm.table-hover
          thead.thead-light
            tr
              th scope="col" = t('name')
              th scope="col" = t('status')
              th.col-md-3 scope="col"
                = t('actions')
                div.dropdown.display-inline-block.people-filter
                  = link_to '',
                          class: 'btn dropdown-toggle',
                          role: 'button',
                          aria: { haspopup: true, expanded: false },
                          data: { toggle: 'dropdown' } do
                    i class="bi bi-funnel-fill"
                  ul.dropdown-menu
                    li.dropdown-title
                      b = t('sort_by')
                    li role="separator" class="divider"
                    li
                      = link_to t('active'),
                              current_page_params.merge(filter: 'active'),
                              class: 'btn filter-active'
                    li
                      = link_to t('blocked'),
                              current_page_params.merge(filter: 'blocked'),
                              class: 'btn filter-blocked'
                    li
                      = link_to t('online'),
                              current_page_params.merge(filter: 'online'),
                              class: 'btn'
                    li
                      = link_to t('offline'),
                              current_page_params.merge(filter: 'offline'),
                              class: 'btn'

          tbody
            - @simple_users.each do |user|
              tr.clickable-row
                td scope="row"
                  = link_to current_page_params.merge(tab: 'users', selected_user: user)
                    div style="height:100%;width:100%"
                      b = get_full_name(user)
                td class=(user.active? ? 'text-color-green' : '') = user.status
                td class=(user.active? ? 'col-green' : '')
                  div.dropdown.user-actions
                    = link_to '',
                            class: 'btn dropdown-toggle',
                            role: 'button',
                            aria: { haspopup: true, expanded: false },
                            data: { toggle: 'dropdown' }
                      = t(user.status)
                      span class="caret"
                    ul.dropdown-menu
                      li
                        = link_to t('delete'),
                                admin_user_path(user),
                                remote: true,
                                class: 'btn col-red',
                                data: { confirm: 'Are you sure?' },
                                method: :delete
                      li
                        = link_to t(get_reverse_user_status_for_view(user)),
                                admin_change_user_status_path(user, user: { status: get_reverse_user_status(user) }),
                                remote: true,
                                class: (user.active? ? 'btn col-gray' : 'btn'),
                                method: :patch
                      li
                        = link_to t('make_as_admin'),
                                admin_change_user_permissions_path(user),
                                remote: true,
                                class: 'btn col-blue',
                                method: :patch

      .tab-pane#admins class=(@tab == 'admins' ? 'active' : '')
        table.table.table-sm
          thead.thead-light
            tr
              th scope="col" = t('name')
              th scope="col" = t('status')
              th.col-md-1 scope="col" = t('actions')

          tbody
            - @admin_users.each do |user|
              tr.clickable-row
                td scope="row"
                  = link_to current_page_params.merge(tab: 'admins', selected_user: user)
                    div style="height:100%;width:100%"
                      b = get_full_name(user)
                td class=(user.active? ? 'text-color-green' : '') = user.status
                td.col-red
                  div.dropdown.user-actions
                    = link_to '',
                            class: 'btn dropdown-toggle',
                            role: 'button',
                            aria: { haspopup: true, expanded: false },
                            data: { toggle: 'dropdown' }
                      = t('remove_from_admin')
                      span class="caret"
                    ul.dropdown-menu
                      li
                        = link_to t('remove_from_admin'),
                                admin_change_user_permissions_path(user),
                                remote: true,
                                class: 'btn col-red',
                                method: :patch
                      li
                        = link_to t('delete'),
                                admin_user_path(user),
                                remote: true,
                                class: 'btn col-gray',
                                data: { confirm: 'Are you sure?' },
                                method: :delete
  - if @simple_users.present?
    .col-lg-3.general-info-tabs
      ul.nav.nav-tabs
        li.active
          = link_to t("general info"), '#general-info', data: { toggle: 'tab', target: '#general-info' }

        li
          = link_to t("teams"), '#teams', data: { toggle: 'tab', target: '#teams' }
      .tab-content
        .tab-pane.fade.in.active#general-info
          div class="row user-info"
            div class='icon-container'
              img src="https://cdn2.iconfinder.com/data/icons/flatfaces-everyday-people-square/128/beard_male_man_face_avatar-512.png"
              - if @selected_user.online?
                div class='status-circle'
          div class="row user-info"
            div class="col-lg-12 full-name"
              b = get_full_name(@selected_user)
          div class="row user-info"
            div class="col-lg-6"
              b = t('registered')
            div class="col-lg-6"
              = @selected_user.created_at
          div class="row user-info"
            div class="col-lg-6"
              b = t('passed_surveys')
            div class="col-lg-6"
              | 22
          div class="row user-info"
            div class="col-lg-6"
              b = t('teams')
            div class="col-lg-6"
              | 6

        .tab-pane#teams
          div class="overflow-auto teams-list"
            ul class="list-group"
              li.list-group-item#team-list-title
                = t('team_name') + ' (6)'
              li class="list-group-item"
                div class='team-image-container'
                  img src="https://cdn2.iconfinder.com/data/icons/flatfaces-everyday-people-square/128/beard_male_man_face_avatar-512.png"
                | Cras justo odio
              li class="list-group-item"
                div class='team-image-container'
                  img src="https://cdn2.iconfinder.com/data/icons/flatfaces-everyday-people-square/128/beard_male_man_face_avatar-512.png"
                | Dapibus ac facilisis in
              li class="list-group-item"
                div class='team-image-container'
                  img src="https://cdn2.iconfinder.com/data/icons/flatfaces-everyday-people-square/128/beard_male_man_face_avatar-512.png"
                | Morbi leo risus
              li class="list-group-item"
                div class='team-image-container'
                  img src="https://cdn2.iconfinder.com/data/icons/flatfaces-everyday-people-square/128/beard_male_man_face_avatar-512.png"
                | Porta ac consectetur ac
              li class="list-group-item"
                div class='team-image-container'
                  img src="https://cdn2.iconfinder.com/data/icons/flatfaces-everyday-people-square/128/beard_male_man_face_avatar-512.png"
                | Vestibulum at eros
              li class="list-group-item"
                div class='team-image-container'
                  img src="https://cdn2.iconfinder.com/data/icons/flatfaces-everyday-people-square/128/beard_male_man_face_avatar-512.png"
                | Porta ac consectetur ac
