.modal-dialog.custom
  .modal-content
    .modal-header
      h3= t('add_new_team')
    = simple_form_for(team, url: self.send(path, curr_params), remote: true, html: { data: { modal: true } }) do |f|
      = f.error_notification
      = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
      .modal-body
        .form-inputs
          = f.input :name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "team name" }
          = f.hidden_field :sub_category_id,
                  value: curr_params[:sub_category]
        .form-actions
          = f.button :submit, value: button_name, class: 'btn btn-add'
          = link_to "Cancel", "#", class: "btn btn-cancel", data: { dismiss: "modal" }
