jQuery("#modal-window").html('<%=
                                  j render "form",
                                  curr_params: get_category_curr_params,
                                  team: @team,
                                  path: 'admin_team_path',
                                  button_name: 'edit'
                               %>');
jQuery("#modal-window").modal('show');
