.people.btn {
  text-decoration: none;
}

.people .btn:hover {
  background-color: unset;
}

li.people-search {
  float: right;
  margin: 10px;
}


#general-info {
  margin: 20px;
}

#general-info .avatar {
  width: 100px;
}

#general-info .full-name {
  font-size: 16px;
  text-align: center;
}

#general-info .user-info {
  margin-top: 15px;
  font-size: 14px;
}

.general-info-tabs {
  border: 1px solid #e7e7e7;
  float: right;
  padding: 0;
}

#general-info .dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

#general-info .icon-container {
  margin: auto;
  width: 75px;
  height: 75px;
  position: relative;
}

#general-info img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

#general-info .status-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: green;
  border: 2px solid white;
  bottom: 0;
  right: 0;
  position: absolute;
}

#teams .teams-list {
  height: 200px;
  overflow: auto;
}

#teams .team-image-container {
  display: inline-block;
  margin-right: 15px;
  width: 50px;
  height: 50px;
}

#teams .team-image-container img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

#teams .teams-list li {
  border: none;
}

#teams #team-list-title {
  border-bottom: 2px solid;
}

//.people td {
//  position: relative;
//}
//
//.people td a {
//  position: absolute;
//  top: 0;
//  left: 0;
//  width: 100%;
//  height: 100%;
//}

.people td a {
  color: black;
  text-decoration: none;
}