footer.page-footer.font-small.mdb-color.pt-4
  .row.d-flex.align-items-center.footer-row
    .col-md-6.float-left
      .text-left
        a.navbar-brand href="#" Sports Hub
    .col-md-6.float-right
      .text-right.copyright
        | Copyright ©2020 Sport Hub
        br
        a href="#"
          strong Privacy / Terms