header class="border-bottom"
  nav class="border border-dark navbar navbar-white bg-white header-nav"
    div class="container-fluid"
      div class="navbar-header"
        button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"
          span class="sr-only" Toggle navigation
          span class="icon-bar"
          span class="icon-bar"
          span class="icon-bar"

        a class="navbar-brand header-brand" href="#" Sports Hub
      div class="" id="bs-examplertyh-navbar-coherllapse-1"
        - unless admin_namespace?
          form class="navbar-form navbar-left"
            div class="form-group"
              input type="text" class="form-control" placeholder="Search"

            button type="submit" class="btn btn-default" = t('search')
          ul class="nav navbar-nav"
            - if devise_mapping.omniauthable? && !user_signed_in?
              - resource_class.omniauth_providers.each do |provider|
                li
                  = link_to get_provider_url(provider) do
                    - if provider == :facebook
                      i class="fa fa-facebook fa-fw"
                    - if provider == :google_oauth2
                      i class="fa fa-google fa-fw"

        ul class="nav navbar-nav navbar-right border-left"
          - if user_signed_in?
            li
              li class="dropdown"
                a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
                  = t('profile')
                  span class="caret"
                ul class="dropdown-menu"
                  li
                    = link_to t('view_profile'), edit_user_registration_path
                  li
                    = link_to t('change_password'), edit_user_registration_path
                  li
                    = link_to t('my_surveys'), edit_user_registration_path
                  li
                    = link_to t('team_hub'), edit_user_registration_path
                  li role="separator" class="divider"
                  li
                    = button_to 'Log out', destroy_user_session_path, method: :delete
          - else
            li
              = link_to 'Login', new_user_session_url, class: 'login'
            li
              = link_to 'Sign Up', new_user_registration_path, class: 'sign-up'
          li
            ul class="nav navbar-nav border-left"
              - if user_signed_in?
                li
                  li class="dropdown"
                    a href="#" class="btn dropdown-toggle top-lang" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
                      = t(I18n.locale)
                    ul class="dropdown-menu"
                      - I18n.available_locales.each do |lang|
                        li
                          = link_to lang, current_page_params.merge(locale: lang.to_s)