.col-lg-1
  .well.sidebar-nav
    ul.nav.nav-list.left-menu-list
      li.nav-header
      li= link_to "/path1" do
        i class='bi bi-chat-right-dots'
      li= link_to "/banners" do
          i class='bi bi-collection'
      li= link_to "/languages" do
          i class='bi bi-globe'
      li= link_to "/path1" do
        i class='bi bi-layout-text-window-reverse'
      li= link_to "/path1" do
        i class='bi bi-share'
      li= link_to admin_users_path do
        i class='bi bi-people'
      li= link_to admin_information_architecture_path do
          i class='bi bi-diagram-2'
      li= link_to "/teams" do
        i class='bi bi-card-text'
      li= link_to "/path1" do
        i class='bi bi-briefcase'
      li= link_to "/banners" do
        i class='bi bi-megaphone'