doctype html
html lang="en"
  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    title = @page_title ||= 'Sport Hub'
    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

    script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"
    script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"
  body
    = render 'layouts/header'
    .container
      .row
        .col-lg-6
          h1 = @page_title
        - if @action_button_name.present? && @action_button_url.present?
          .col-lg-2.action-button
            = link_to @action_button_name,
                    @action_button_url,
                    class: 'btn ' + (@action_btn_save ? 'btn-action-save' : '')
        - if @action_cancel_button_name.present?
          .col-lg-2.action-cancel-button
            = link_to @action_cancel_button_name,
                    :back,
                    class: 'btn'
    = render 'layouts/top_menu' if admin_namespace?

    .row
      = render 'layouts/left-menu'
      .col-lg-10.main-content
        = bootstrap_flash
        = yield

    = render 'admin/shared/modals'
    = render 'layouts/footer' unless admin_namespace?
