h2 Sign up

= simple_form_for(resource, as: resource_name, url: user_registration_path) do |f|
  = f.error_notification

  div class="form-inputs"
    = f.input :first_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "first_name" }
    = f.input :last_name,
                required: true,
                input_html: { autocomplete: "last_name" }
    = f.input :email,
                required: true,
                input_html: { autocomplete: "email" }
    = f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" }
    = f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" }

  div class="form-actions"
    = f.button :submit, "Sign up"

= render "users/shared/links"
